

.header-tabs-container{
    display: flex;
    justify-content: center;
}

.padding{
    margin-left: 5%;
}

.tab{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

button:hover {
    transform: scale(1.3);
  }