
<div class="centered">
*Personal hobby projects.
</div>
<div class="centered">
<div class="card card2" style="width: 18rem; margin: .5rem" *ngFor="let project of projects">
    <img src={{project.src}} class="card-img-top" alt="..." style="height:200px">
    <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.desc}}</p>
        <button class="btn btn-outline-light tab padding" [disabled]="project.disable"><a href={{project.link}} class="links">Live</a></button>
        <button class="btn btn-outline-light tab padding" style="margin:4px" [disabled]="project.disable"><a href={{project.github}} class="links">Github</a></button>
    </div>
</div>
</div>