<!-- creates a black overlay with a modal box and message property to be set where the component is called. -->
<!-- uses (click) on the backdrop and the button to to enable the ability to close the modal from anywhere on the UI  -->

<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
        <h6 style="color: #3d83ff">{{title}}</h6>
        <p>{{message}}</p>
        <div class="alert-box-actions">
            <button class="btn btn-secondary" (click)="onClose()">
                Close
            </button>
        </div>
</div>