<div class="photo-con">
    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nfl/500/no.png" class="photo" alt="...">
</div>
<br>

<h1>Front-End Developer/IT Specialist</h1>
<h3>Work, Training, Skills & Experience</h3>
<br>

<div class="photo-con">
<p style="text-align: center; max-width: 50%;">

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur blanditiis sunt, dolorem itaque tempora rem culpa, omnis deleniti maiores, veniam nulla adipisci. Soluta ratione esse magnam nesciunt. Odit, obcaecati nam.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit est eos ipsa libero vitae corrupti temporibus, ratione quam praesentium adipisci debitis beatae? Culpa exercitationem sapiente ipsum? Odio, consequuntur. Est, similique?
</p>
</div>