
<div class="container">
  <button class="btn btn-outline-light">Download PDF</button>
  <br>
  <br>
  <div class="row">
    <h1 class="jobs">IBM</h1>
    <h5 class="jobdes">International Business Machinery</h5>
    <p class="jobdes2">Technical Specialist</p>
    <p style="color:rgb(79, 79, 79)">2018-2023</p>
    <div class="notification" *ngFor="let project of projects_ibm">
      <div class="notiglow"></div>
      <div class="notiborderglow"></div>
      <div class="notititle">{{project.title}}</div>
      <div class="notibody">{{project.role}}</div>
    </div>
  </div>

  <div class="row">
    <h1 class="jobs" style="margin-top: 10px;">BCBS</h1>
    <h5 class="jobdes">Blue Cross Blue Shield LA</h5>
    <p class="jobdes2">Business Engineering Config Analyst</p>
    <p style="color:rgb(79, 79, 79)">2017</p>
    <div class="notification" *ngFor="let project of projects_bcbs">
      <div class="notiglow"></div>
      <div class="notiborderglow"></div>
      <div class="notititle">{{project.title}}</div>
      <div class="notibody">{{project.role}}</div>
    </div>
  </div>
</div>